#container_card{
    max-width: 15vw;
    gap: 0;
    height: 45vh;

    display: flex;
    flex-direction: column;

    border-radius: 20px;
    overflow: hidden;
    background-color:var(--vinho);
    box-shadow: var(--box-shadow);
}

#container_card div {
    background-color: var(--fundo-claro);
}

#txt_titulo_card{
    color: var(--txt-branco);
    text-align: center;
    font-size: 25;
    font-weight: 500;
}


#txt_descricao{
    font-size: 20px;
    margin: 0px;
    line-height: 1.4;
    height: 12vh;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    padding: 20px;
}

#valor {
    color: var(--laranja-destaque);


    text-align: center;
    font-size: 22px;
    font-weight: 500;
    
    padding: 10px 0 10px 0 ;
}